/* MAIN DESIGN */
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body{
		font-family: 'Raleway', sans-serif;
	}

	header, main{
		margin: auto;
		max-width: 1200px;
		width: 80%;
	}

	h1{
		font-size: 1em;
		font-weight: bold;
	}

	footer h3{
		font-size: 0.9em;
		margin-top: 10px;
	}

	.star-on{
		color: #0065FC;
		font-size: 0.6em;
	}
	.star-off{
		color: #F2F2F2;
		font-size: 0.6em;
	}
	.icoMap{
		font-size: 1.2em;
	}

/* Header : nav */
	.main-header{
		display: flex;
		font-size: 0.9em;
		justify-content: space-between;
		height: 80px;
		align-items: center;
	}

	.main-header img{
		height: 50px;
	}

	.main-header nav, .main-header ul {
		height: 100%;
	}

	.main-header ul{
		display: flex;
		align-items: center;
	}

	.main-header li{
		align-content: center;
		border-top: 2px solid transparent;
		justify-content: center;
		list-style-type: none;
		height: 100%;
		display: flex;
		align-items: center;
	}
	.main-header li:hover{
		border-top: 2px solid #0065FC;
	}

	.main-header a{
		color: #ADADAD;
		display: flex;
		padding: 15px 30px;
		text-decoration: none;
	}
	.main-header a:hover{
		color: #0065FC;
	}
	.main-header a:active{
		text-shadow: 1px 1px 1px #ADADAD;
	}

	.off-header p{
		font-size: 0.7em;
		margin-top: 5px;
	}


/* Header : recherche */
	.find-map{
		margin-top: 20px;
	}

	.find-map div{
		display: flex;
	}

	.find-map div > label{
		background-color: #F2F2F2;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 10px 15px;
	}

	.find-map input{
		border: none;
		font-size: 0.7em;
		padding: 0px 10px;
	}
	.find-map input:first-child{
		border-top: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2;
		min-width: 140px;
		max-width: 100%;
	}
	.find-map input:last-child{
		background-color: #0065FC;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		color: white;
		cursor: pointer;
		font-weight: bold;
		text-shadow: 1px 1px 3px transparent;
	}
	.find-map input:last-child:hover{
		text-shadow: 1px 1px 3px #000;
	}


/* Header : filtre */
	.filtre{
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
	}

	.filtre > div{
		align-items: center;
		border: 2px solid #F2F2F2;
		border-radius: 25px;
		display: flex;
		justify-content: center;
		margin: 3px 5px;
	}

	.filtre > div:hover{
		background-color: #DEEBFF;
		cursor: pointer;
	}

	.filtre > div:first-child{
		border: none;
		display: flex;
		margin-right: 20px;
	}

	.filtre div > div{
		padding: 0px 15px;
	}
	.filtre i{
		align-items: center;
		background-color: #DEEBFF;
		border-radius: 50%;
		color: #0065FC;
		display: flex;
		font-size: 80%;
		height: 35px;
		justify-content: center;
		text-align: center;
		width: 35px;
	}

	.logo-info{
		display: flex;
		margin-top: 25px;
	}

	.logo-info div{
		align-items: center;
		display: flex;
		font-size: 0.75em;
		padding: 0px 15px;
	}

	.logo-info i{
		border: 2px solid #F2F2F2;
		border-radius: 50%;
		color: #0065FC;
		font-size: 80%;
		margin-right: 10px;
		padding: 3px 5px;
		text-align: center;
	}

/* Section : hebergement */
	.card{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 25px;
		width: 100%;
	}

	.hebergement{
		background-color: #F2F2F2;
		border-radius: 15px;
		padding: 30px 25px;
		width: 65%;
	}

	.hebergement > div{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.hebergement a{
		background-color: #FFF;
		border: 3px solid #FFF;
		border-radius: 15px;
		box-shadow: 1px 1px 6px rgba(0,0,0, 0.5);
		color: black;
		height: 160px;
		margin: 10px 0px;
		text-decoration: none;
		width: 30%;
	}
	.hebergement a:hover{
		box-shadow: 1px 1px 4px black;
		padding: 1px;
		transform: scale(1.1);
	}

	.hebergement img{
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		height: 60%;
		object-fit: cover;
		width: 100%;
	}

	.hebergement a > span{
		display: flex;
		flex-direction: column;
		height: 40%;
		justify-content: space-between;
		padding: 5px 10px;
	}

	.hebergement a > span > span:first-child{
		display: flex;
		flex-direction: column;
		font-size: 0.8em;
		font-weight: bold;

	}

	.hebergement small{
		display: block;
		font-weight: initial;
		margin-top: 4px;
	}

	.showMore{
		font-size: 1em;
		font-weight: bold;
		padding: 10px 0px;
	}


/* Section : populaire */
	.populaire{
		background-color: #F2F2F2;
		border-radius: 15px;
		padding: 30px 25px;
		width: 32%;
	}

	.populaire > div:first-child{
		display: flex;
		justify-content: space-between;
	}

	.populaire > div:last-child{
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.populaire a{
		background-color: #FFF;
		border: 2px solid #FFF;
		border-radius: 15px;
		box-shadow: 1px 1px 6px transparent;
		color: black;
		display: flex;
		height: 110px;
		justify-content: space-between;
		margin: 10px 0px;
		text-decoration: none;
		width: 100%;
	}
	.populaire a:hover{
		box-shadow: 1px 1px 4px black;
		transform: scale(1.1);
	}

	.populaire img{
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		height: 100%;
		object-fit: cover;
		width: 40%;
	}

	.populaire a > span{
		width: 55%;
		padding: 3px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.populaire a > span > span:first-child{
		display: flex;
		flex-direction: column;
		font-size: 0.8em;
		font-weight: bold;
		padding: 3px;
		width: 100%;
	}

	.populaire small{
		display: block;
		font-weight: initial;
		margin-top: 4px;
	}


/* Section : activité  */
	.activite{
		margin-top: 40px;
	}

	.activite h2{
		margin-bottom: 20px;
	}

	.bloc-activite{
		display: flex;
		font-size: 0.9em;
		justify-content: space-between;
	}

	.bloc-activite > a, .bloc-activite > div{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 23%;
	}

	.bloc-activite a{
		box-shadow: 1px 1px 6px rgb(0 0 0 / 50%);
		border-radius: 15px;
		position: relative;
	}

	.bloc-activite a:hover{
		box-shadow: 1px 1px 4px black;
		transform: scale(1.1);
	}

	.special-act-style > a:first-child{
		height: 56%;
	}
	.special-act-style > a:last-child{
		height: 36%;
	}

	.special-act-style2 > a:first-child{
		height: 36%;
	}
	.special-act-style2 > a:last-child{
		height: 56%;
	}

	.activite img{
		border-radius: 15px;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.bloc-activite span{
		align-items: center;
		background-color: #FFF;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		color: initial;
		bottom: 0;
		display: flex;
		height: 40px;
		padding-left: 10px;
		position: absolute;
		width: 100%;
	}

/* Footer  */
	footer{
		background-color: #F2F2F2;
		margin-top: 30px;
		padding: 20px 10px 40px 10px;
		width: 100%;
	}

	footer > div{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 1200px;
		margin: auto;
		width: 80%;
	}

	footer > div > div{
		width: 33.3%;
	}

	footer ul{
		margin-top: 12px;
	}

	footer li{
		font-size: 0.8em;
		list-style-type: none;
		padding: 10px 0px;
	}

	footer a{
		color: #ADADAD;
		text-decoration: none;
	}

	footer a:hover{
		text-decoration: underline;
	}



/* RESPONSIVE MEDIA */

/* Responsive tablette */
@media screen and (max-width: 992px)
{

	h2{
		font-size: 1.1em;
	}

	h3{
		font-size: 0.7em;
	}

	.find-map{
		width: 100%;
	}

	.hebergement > div > a{
		height: 150px;
		width: 48%;
	}

	.populaire a{
		height: 100px;
	}

	.populaire a > span > span, .hebergement a > span > span{
		font-size: 1em;
	}

	.bloc-activite{
		font-size: 0.75em;
	}
}

/* Responsive mobile */
@media screen and (max-width: 768px)
{
	.bloc-activite a:hover, .hebergement a:hover, .populaire a:hover{
		transform: none;
	}

	header, main{
		width: 100%;
	}

	h2{
		font-size: 1.2em;
	}

	h3{
		font-size: 0.8em;
	}

	.off-header, .filtre, .activite{
		padding: 10px;
	}

	.off-header{
		margin-top: 40px;
	}

	#location{
		width: 100%;
	}

	.main-header nav{
		width: 100%;
	}

	.main-header{
		flex-direction: column;
	}

	.main-header li{
		border-bottom: 2px solid transparent;
		border-top: none;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		text-align: center;
		width: 50%;
	}
	.main-header li:hover{
		border-bottom: 2px solid #0065FC;
		border-top: none;
	}

	.main-header img{
		margin: auto;
		width: 150px;
	}

	.card{
		flex-direction: column-reverse;
	}

	.hebergement{
		width: 100%;
		background-color: transparent;
	}

	.populaire{
		border-radius: 0;
		width: 100%;
	}

	.populaire a{
		height: 160px;
	}

	.populaire a > span > span, .hebergement a > span > span{
		font-size: 1.2em;
	}

	.hebergement > div > a{
		height: 190px;
		width: 100%;
	}

	.find-map div{
		width: 100%;
	}

	.bloc-activite{
		flex-direction: column;
	}

	.bloc-activite a{
		height: 160px;
		width: 100%;
	}

	.bloc-activite div{
		width: 100%;
	}

	.special-act-style > a:first-child{
		height: 160px;
	}
	.special-act-style > a:last-child{
		height: 160px;
	}

	.special-act-style2 > a:first-child{
		height: 160px;
	}
	.special-act-style2 > a:last-child{
		height: 160px;
	}

	.special-act-style a, .special-act-style2 a, .bloc-activite a{
		margin-bottom: 30px;
	}

	footer > div{
		flex-direction: column;
		align-items: center;
	}

	footer > div div{
		width: 100%;
	}
}