/* MAIN DESIGN */
	*{
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	body{
		overflow-y: scroll;
		height: 100vh;
		width: 100%;
	}

	#app{
		font-family: 'Raleway', sans-serif;
	}

	#app > div{
		margin: auto;
		width: 1440px;
		max-width: 80%;
	}

	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1em;
	}
	h3{
		font-size: 0.9em;
		font-weight: bold;
	}
	h4{
		font-size: 0.8em;
	}

	.star-on{
		color: #0065FC;
		font-size: 0.6em;
	}
	.star-off{
		color: #F2F2F2;
		font-size: 0.6em;
	}

/* Header : nav */
	.main-header{
		display: flex;
		font-size: 0.6em;
		justify-content: space-between;
	}

	.main-header nav ul{
		display: flex;
	}

	.main-header li{
		align-content: center;
		border-top: 2px solid transparent;
		justify-content: center;
		list-style-type: none;
	}
	.main-header li:hover{
		display: flex;
		border-top: 2px solid #0065FC;
	}

	.main-header a{
		color: #ADADAD;
		display: flex;
		padding: 15px 30px;
		text-decoration: none;
	}
	.main-header a:hover{
		color: #0065FC;
	}
	.main-header a:active{
		text-shadow: 1px 1px 1px #ADADAD;
	}

	.off-header p{
		font-size: 0.7em;
		margin-top: 5px;
	}


/* Header : recherche */
	.find-map{
		margin-top: 20px;
	}

	.find-map div{
		display: flex;
	}

	.find-map div > label{
		background-color: #F2F2F2;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 8px 5px;
		width: 20px;
	}

	.find-map input{
		border: none;
		font-size: 0.5em;
		padding: 0px 10px;
	}
	.find-map input:first-child{
		border-top: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2;
		min-width: 140px;
		max-width: 100%;
	}
	.find-map input:last-child{
		background-color: #0065FC;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		color: white;
		cursor: pointer;
		font-weight: bold;
		text-shadow: 1px 1px 3px transparent;
	}
	.find-map input:last-child:hover{
		text-shadow: 1px 1px 3px #000;
	}


/* Header : filtre */
	.filtre{
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
	}

	.filtre > div{
		align-items: center;
		border: 2px solid #F2F2F2;
		border-radius: 25px;
		display: flex;
		justify-content: center;
		margin: 3px 5px;
	}

	.filtre > div:first-child{
		border: none;
		display: flex;
		margin-right: 20px;
	}

	.filtre div > div{
		padding: 0px 15px;
	}
	.filtre i{
		align-items: center;
		background-color: #DEEBFF;
		border-radius: 50%;
		color: #0065FC;
		display: flex;
		font-size: 80%;
		height: 35px;
		justify-content: center;
		text-align: center;
		width: 35px;
	}

	.logo-info{
		display: flex;
		margin-top: 25px;
	}

	.logo-info div{
		align-items: center;
		display: flex;
		font-size: 0.6em;
		padding: 0px 15px;
	}

	.logo-info i{
		border: 2px solid #F2F2F2;
		border-radius: 50%;
		color: #0065FC;
		font-size: 80%;
		margin-right: 10px;
		padding: 3px 5px;
		text-align: center;
	}

/* Section : hebergement */
	.card{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 25px;
		width: 100%;
	}

	.hebergement{
		background-color: #F2F2F2;
		border-radius: 15px;
		width: 68%;
	}

	.hebergement > div{
		margin:  auto;
		padding: 25px 20px 10px 25px;
	}

	.hebergement div > div{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.hebergement a{
		background-color: #FFF;
		border: 2px solid #FFF;
		border-radius: 15px;
		box-shadow: 1px 1px 6px rgba(0,0,0, 0.5);
		color: black;
		height: 160px;
		margin: 10px 0px;
		padding: 2px;
		text-decoration: none;
		width: 30%;
	}
	.hebergement a:hover{
		box-shadow: 1px 1px 4px black;
		padding: 1px;
	}

	.hebergement img{
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		height: 65%;
		object-fit: cover;
		width: 100%;
	}

	.hebergement span p{
		font-size: 0.8em;
	}

	.hebergement a h4, .hebergement a p, .hebergement a > span span{
		padding-left: 10px;
	}

	.showMore{
		font-size: 1em;
		font-weight: bold;
		padding: 10px 0px;
	}


/* Section : populaire */
	.populaire{
		background-color: #F2F2F2;
		border-radius: 15px;
		width: 30%;
	}

	.populaire > div{		
		margin:  auto;
		padding: 25px 20px 10px 25px;
	}

	.populaire > div div{
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.populaire a{
		background-color: #FFF;
		border: 2px solid #FFF;
		border-radius: 15px;
		box-shadow: 1px 1px 6px rgba(0,0,0, 0.5);
		color: black;
		display: flex;
		height: 110px;
		justify-content: space-between;
		margin: 10px 0px;
		padding: 2px;
		text-decoration: none;
		width: 95%;
	}
	.populaire a:hover{
		box-shadow: 1px 1px 4px black;
		padding: 1px;
	}

	.populaire img{
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		height: 100%;
		object-fit: cover;
		width: 40%;
	}

	.populaire a > span{
		width: 55%;
		padding: 3px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.populaire span p{
		font-size: 0.7em;
		padding: 3px 0px;
	}


/* Footer  */
	footer{
		background-color: #F2F2F2;
		margin-top: 30px;
		padding-bottom: 40px;
		padding-top: 20px;
	}

	footer > div{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: auto;
		max-width: 80%;
		width: 1440px;
	}

	footer > div div{
		width: 33.3%;
	}

	footer ul{
		margin-top: 10px;
	}

	footer li{
		font-size: 0.7em;
		padding: 5px 0px;
	}

	.activite img{
		width: 100px;
	}